// Bootstrap variables that we can change: https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss

$primary: #00adb5;
$secondary: rgb(50, 50, 50);
$danger: #ff5722;

$body-color: #303841;
$card-bg: #eeeeee;
$input-bg: rgba(255, 255, 255, 0);
// $input-border-color: $gray-500;

$headings-color: #00adb5;
$link-color: #ff5722;

$btn-font-weight: 600;
$btn-border-radius: 10px;

@import "~bootstrap/scss/bootstrap";