// Bootstrap variables that we can change: https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss

$primary: #00adb5;
$secondary: #303841;
$danger: #ff5722;

$body-color: #303841;
$card-bg: #eeeeee;

$headings-color: #00adb5;
$link-color: #ff5722;

$btn-font-weight: 600;
$btn-border-radius: 10px;

@import "~bootstrap/scss/bootstrap";