// Bootstrap variables that we can change: https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss

$body-bg: #eeeeee;
$body-color: #303841;

$link-color: #007c82;

@import "~bootstrap/scss/bootstrap";