@import "~bootstrap/scss/bootstrap";
@import "custom";


// Custom Button Styling

$newbtn: #00adb5;

.btn-primary {
    @include button-variant($newbtn, darken($newbtn, 7.5%), darken($newbtn, 10%), lighten($newbtn,1%), lighten($newbtn, 3%), darken($newbtn,30%));

    border: none;
}

// END Custom Button Styling

.card-header {
  background-color: #eeeeee;
}

.App {
  text-align: center;
}
