@import "~bootstrap/scss/bootstrap";
@import "custom";


// Custom Button Styling

$newbtn: #00adb5;
$earlyVoteBg:#FB5722;
$votePurple:#725CFF;

.btn-primary {
    @include button-variant($newbtn, darken($newbtn, 7.5%), darken($newbtn, 10%), lighten($newbtn,1%), lighten($newbtn, 3%), darken($newbtn,30%));

    border: none;
}

// END Custom Button Styling

.img-bottom-right {
  height: 40vh;
  position: fixed;
  bottom: 0; right: 0;
  z-index: -1;
}

.home {
  position: relative;

  img {
    opacity: 0.1;
    position: absolute;
    top: -12vh;
  }
}

.search-icon {
  width: calc(15px + 0.75vw);
}

.card {
  border: none;
  border-radius: 20px;
}

.App {
  text-align: center;
}

.margin-lg {
  margin-top: 25vh;  
}

.padding-reset{
  padding:0;
}

.bg-vote{
  background-color: $votePurple;
}
.border-bg-vote{
  border-color: $votePurple;
}
