@import "~bootstrap/scss/bootstrap";
@import "custom";
@import "HomePage";

// Custom Button Styling

$newbtn: #00adb5;
$earlyVoteBg:#FB5722;
$votePurple:#725CFF;

.btn-primary {
    @include button-variant($newbtn, darken($newbtn, 7.5%), darken($newbtn, 10%), lighten($newbtn,1%), lighten($newbtn, 3%), darken($newbtn,30%));

    border: none;
}

// END Custom Button Styling

.navbar-brand {
  height: 8vh;
  
  img {
    height: 100%;
  }
}

.card {
  border: none;
  border-radius: 20px;
}

.App {
  height: 100vh;
  text-align: center;
}

.margin-lg {
  margin-top: 20vh;  
}

.padding-reset{
  padding:0;
}

.bg-vote:first-child{
  border-radius: 15px 15px 0 0;
  background-color: $votePurple;
}

.border-bg-vote{
  border-color: $votePurple;
}

.active{
  color:red!important;
}